# untracked files
.env
.DS_Store
data/WorldReportedTariffAgainstSGPraw
data/WorldReportedTariffAgainstCHNraw
data/WorldReportedTariffAgainstDEUraw
data/WorldReportedTariffAgainstUSAraw
data/WorldReportedTariffAgainstJPNraw
data/AgreementScoresraw
/backend/gravity_models